@import "functions.less";

body {
    font-family: 'Myriad Pro Regular', sans-serif;
    font-size: 14px;
    //  height: 100%;
    color: @black;
    background-color: @white;
    width: 390px;
    margin: 0 auto;
}

#errorWrap {
    margin-top: 50px;
    background-color: @greyLight;
}

#errorTitle {
    color: @white;
    background-color: @errorColor;
    height: 40px;

    h2 {
        padding-top: 10px;
        padding-left: 20px;
    }
}

#errorMsg {
    padding: 15px;
    min-height: 100px;
}

#errorFooter {
    padding-left: 25px;
    padding-bottom: 20px;
}