@black: #000000;
@white: #FFFFFF;

@greyLight: #eee;
@greyLightest: #F5F5F5;
@grey: #DCDCDC;
@greyDark: #6C6C78;

@mcolorLightest: #EDEDF4;
@mcolorLight: #D1D1DF;
@mcolor: #B4B4CA;
@mcolorDark: #7677A0;

@errorColor: #b94a48;
@selected: #1F4F82;

@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('MYRIADPRO-REGULAR.woff') format('woff'), url('MYRIADPRO-REGULAR.OTF') format('opentype');
}

//Functions

.userSelect {
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.transition() {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.transition(@effect) {
    -webkit-transition-property: @effect;
    -moz-transition-property: @effect;
    -ms-transition-property: @effect;
    -o-transition-property: @effect;
    transition-property: @effect;
}

.transition(@effect, @duration) {
    -webkit-transition: @arguments ease;
    -moz-transition: @arguments ease;
    -ms-transition: @arguments ease;
    -o-transition: @arguments ease;
    transition: @arguments ease;
}

.transition(@effect, @duration, @function) {
    -webkit-transition: @arguments;
    -moz-transition: @arguments;
    -ms-transition: @arguments;
    -o-transition: @arguments;
    transition: @arguments;
}

.boxSizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.boxShadow() {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.boxShadow(@shadow) {
    -webkit-box-shadow: @shadow;
    -moz-box-shadow: @shadow;
    box-shadow: @shadow;
}

.borderRadius() {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.borderRadius(@px) {
    -webkit-border-radius: @px;
    -moz-border-radius: @px;
    border-radius: @px;
}

.border(@t, @b, @l, @r) {
    border-top: @t;
    border-bottom: @b;
    border-left: @l;
    border-right: @r;
}

.opacity() {
    filter: e('progid:DXImageTransform.Microsoft.Alpha(opacity=0)');
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    zoom: 1;
}

.opacity(@opacityLevel) {
    filter: e('progid:DXImageTransform.Microsoft.Alpha(opacity=70)');
    -moz-opacity: @opacityLevel;
    -khtml-opacity: @opacityLevel;
    opacity: @opacityLevel;
    zoom: 1;
}

.aws {
    display: inline;
    vertical-align: baseline;
    background-repeat: repeat;
    margin-top: 0;
}