@import "functions.less";

body {
    font-family: 'Myriad Pro Regular', sans-serif;
    font-size: 14px;
    //  height: 100%;
    color: @black;
    background-color: @white;
    width: 1280px;
    margin: 0 auto;
    .userSelect();
}

h3 {
    font-size: 1.36em;
}

h6 {
    font-size: 0.74em;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

button {
    font-family: 'Myriad Pro Regular', sans-serif;
}

textarea {
    font-family: 'Myriad Pro Regular', sans-serif;
}

.formItem {
    position: relative;
    margin-bottom: 8px;

    input {
        border-style: ridge;
        width: 154px;
        margin-top: 3px;
        margin-left: 20px;
        padding-left: 3px;
        padding-top: 3px;

        &[type=file] {
            font-size: 11px;
            width: 274px;
            margin-left: 0;
            border: none;
        }
        &[type=checkbox] {
            width: auto;
        }
    }

    label {
        float: left;
        padding-top: 7px;
        width: 102px;
        &[for=projectStateZ] {
            padding-top: 2px;
        }

    }

    textarea {
        margin-top: 3px;
    }

    select {
        width: 161px;
        margin-top: 3px;
        margin-left: 20px;
        padding-left: 3px;
        padding-top: 3px;
        background-color: inherit;
    }

    .projImg, .userImg {
        margin-left: 20px;
        background-color: @greyLight;
    }
}

#formAddProject {
    width: 284px;
}

#formAddTask {
    width: 318px;
    label {
        width: 136px;
    }
}

form#userData {
    width: 292px;
    .formItem:first-of-type {
        height: 30px;
        label {
            padding-top: 0;
        }
    }
    label {
        width: 110px;
    }
}

#mainWrapper {
    //    position: relative;
}

#mainHeader {
    font-size: 16px;
    height: 42px;
    color: @white;
    background-color: @greyDark;
    position: fixed;
    top: 0;
    max-width: 1280px;
    min-width: 640px;
    width: 100%;
    z-index: 22;
}

#appMenu {
    float: left;

    li {
        cursor: pointer;
        .transition(background-color, 0.3s);

        &:hover {
            background-color: @black;
        }
        &:active {
            color: @greyLight;
        }
        &.selectedMenu {
            background-color: @grey;
            color: black;
            font-weight: bold;
        }
    }

    & > ul > li {
        position: relative;
        display: block;
        float: left;
        a {
            padding: 11px 8px;
            height: 20px;
        }
    }
}

#header {
    height: 32px;
    color: @black;
    background-color: @grey;
    font-size: 13px;
    position: fixed;
    top: 42px;
    max-width: 1280px;
    min-width: 640px;
    width: 100%;
    border-bottom: 1px solid @mcolor;
    z-index: 21;
}

#projectMenu {
    float: left;

    li {
        cursor: pointer;
        .transition(background-color, 0.3s);

        &:hover {
            background-color: @mcolorLight;
        }
        &:active {
            background-color: @mcolorDark;
        }
    }

    & > ul > li {
        position: relative;
        display: block;
        float: left;
        height: 26px;
        padding: 3px 10px;
    }
}

.searchForm {
    float: left;
    margin-left: 5px;
    margin-top: 2px;
    position: relative;

    .searchIcon {
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        right: 10px;
        top: 5px;
        background: url(../img/search.png) no-repeat center center;
        cursor: pointer;
    }

    input[type=search] {
        outline: none;
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-family: 'Myriad Pro Regular', sans-serif;
        font-size: 100%;
        border-left: 1px solid @greyDark;
        border-right: none;
        border-top: none;
        border-bottom: none;
        background-color: inherit;
        padding: 7px 28px 7px 10px;
        width: 100px;
        .transition(background-color, 0.6s);

        &:focus {
            border-color: @black;
            background-color: @greyLightest;
        }
    }

    input:-moz-placeholder {
        color: @greyDark;
    }
    input::-webkit-input-placeholder {
        color: @greyDark;
    }
}

#reloadPage {
    background: url(../img/refresh.png) 5px center no-repeat;
    padding-left: 32px !important;
}

#addProject {
    background: url(../img/addProject.png) 5px center no-repeat;
    padding-left: 32px !important;
}

#selectProjects {
    //    background: url(../img/selectProjects.png) 5px center no-repeat;
    width: 48px;
    padding-right: 20px !important;

    span[class^=status-] {
        display: block;
        float: left;
        width: 16px;
        height: 16px;
        margin: 6px 3px 0 4px;
    }
    & > ul {
        background-color: @grey;
        min-width: 84px;
        left: 0;
        right: auto;
        border: 1px solid @greyDark;
        border-top: none;
    }
    & > a:after {
        top: 23%;
        right: 8px;

    }
    span.statusSelected {
        //        font-size: 12px;
    }
}

#appContainer {
    margin-top: 42px;
    position: relative;
}

#main {
    float: left;
    margin-top: 36px;
}

#taskCalendar {
    float: left;
    width: 304px;
    min-height: 500px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    font-size: 12px;
    color: @greyDark;
    background-color: @greyLight;
}

#taskList {
    span.taskDate {
        font-size: 14px;
        font-weight: bold;
        color: @selected;

        &.expired {
            color: @errorColor;
        }
    }

    & > li {
        padding: 5px;

        & + li {
            margin-top: 8px;
        }

        &.userTaskBlockList {
            .boxShadow();
            background-color: inherit;
        }

        &.today {
            border: 1px solid @mcolorDark;
        }
        &.expired {
            border: 1px solid @errorColor;
        }

        &:hover {
            background-color: @mcolorLight;
        }
    }

    ul.taskBlockList {
        margin-left: 10px;
        margin-top: 2px;
    }

    li.task, li.userTask {
        cursor: pointer;
        line-height: 1.3;
        padding-top: 4px;
        padding-bottom: 4px;
        position: relative;
        white-space: pre-wrap;

        &:hover {
            color: @black;
        }

        &.selectedTask {
            color: @selected;
            //background-color: @mcolorLight;
        }

        & + li.task, & + li.userTask {
            border-top: 1px solid @mcolor;
        }
    }

    span.projectLink {
        font-weight: bold;
    }
    span.projectLinkClient {
        font-weight: bold;
    }
}

#projectList {
    float: left;
    width: 960px;
    min-height: 506px;
    //    background-color: @greyLight;
    margin-left: 6px;

    [id^=state-] {
        float: left;
        width: 310px;
        //        min-height: 120px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 4px;
        padding-top: 2px;
    }
}

.projectThumb {
    float: left;
    padding: 5px;
    margin-bottom: 6px;
    //background-color: @white;
    //.boxShadow(0px 1px 4px 0px rgba(0, 0, 0, 0.3));
    border: 1px solid @grey;

    h3 {
        margin-bottom: 3px;
    }

    &:hover {
        //.boxShadow(0px 1px 4px 0px @greyDark);
        //        text-shadow: @grey 0 1px 0;
        border-color: @greyDark;
    }

    .thumbContent {
        position: relative;
        float: left;
        width: 300px;
        cursor: pointer;

    }

    strong.projDateFinish {
        line-height: 1.4;
        margin-left: 6px;

        &.expired {
            color: @errorColor;
        }
    }

    .taskBlock {
        font-size: 12px;
        margin-top: 10px;
        color: @greyDark;

        li {
            position: relative;
            padding-top: 2px;
            padding-bottom: 2px;
            line-height: 1.3;
            border-top: 1px solid @mcolorLight;
            white-space: pre-wrap;

            strong:first-of-type {
                color: @selected;
                &.expired {
                    color: @errorColor;
                }
            }

            &.taskFinished {
                display: none;
                color: @mcolor;
                margin-left: 12px;

                strong:first-of-type {
                    color: @mcolor;
                }
                &.scene {
                    display: list-item;
                }
                &:hover {
                    color: @mcolorDark;
                }
            }

            &.selectedTask {
                color: @selected;
            }

            &:hover {
                color: @black;
            }
        }
    }

    &.selected {
        background-color: @mcolorLightest;

        .projectThumbTools {
            visibility: visible;
            left: -4px;
        }
    }

    .projectStatus {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 16px;
        height: 16px;
    }

    .paramBlock {
        margin-top: 3px;
        font-size: 12px;
        min-height: 55px;

        li {
            line-height: 1.15;
            &[data-id="4"] {
                white-space: pre-wrap;
            }
            span {
                color: @greyDark;
            }
        }
    }

    &.arched {
        height: 50px;
        overflow-y: hidden;
        //        .transition(max-height, 0.6s);

        .projImg {
            width: 50px;
            height: 50px;
        }

        &.expanded {
            .projImg {
                width: 120px;
                height: 120px;
            }
            height: auto;
        }
    }
}

.status-work {
    background: url(../img/status-work.png) center center no-repeat;
}

.status-query {
    background: url(../img/status-query.png) center center no-repeat;
}

.status-queryWork {
    background: url(../img/status-queryWork.png) center center no-repeat;
}

.status-arch {
    background: url(../img/status-arch.png) center center no-repeat;
}

.projImg {
    display: block;
    float: left;
    width: 120px;
    height: 120px;
    margin-right: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

.projectDetails {
    float: left;
    max-height: 0;
    overflow: hidden;
    .transition(max-height, 0.6s);

    li.statePoint {
        width: 260px;
        background: url(../img/statePointToggle.png) left bottom no-repeat;
        padding-left: 20px;
        cursor: pointer;
        color: @errorColor;
        margin-bottom: 5px;
        position: relative;

        &.finished {
            color: @black;
            background-position: left top;
        }
        &.noneed {
            color: @greyDark;
            text-decoration: line-through;
        }
        &:hover {
            color: @mcolorDark;
        }

        .statePointDate {
            float: right;
            font-size: 11px;
            border: none;
            background-color: inherit;
            max-width: 60px;
            text-align: right;
            cursor: pointer;

            &:hover {
                color: @mcolorDark;
            }
        }
    }
    .stateGroup {

        & > span {
            font-weight: bold;
        }
    }
    .stateGroupBlock {
        padding: 5px;
        margin-top: 15px;
        font-size: 13px;
        border-top: 1px solid @mcolorLight;
    }
    .statePointBlock {
        padding: 5px 0 5px 5px;
    }

    &.detOpened {
        max-height: 600px;
    }
}

#user {
    float: right;
    height: 42px;
    position: relative;
    cursor: default;
}

.userImg {
    display: inline-block;
    vertical-align: top;
    width: 36px;
    height: 36px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#userName {
    margin-left: 10px;
    padding: 0 10px;
    cursor: pointer;

    & > a {
        display: inline-block;
        font-size: 16px;
        margin: 8px 0 0 5px;
        &:after {
            top: 60%;
            right: 10px;
        }
    }

    & > ul {
        width: 130px;
        background-color: @greyDark;
        & > li:hover {
            background-color: @black;
        }
        & > li:last-of-type {
            border-top: 1px solid;
        }
    }
    &:hover {
        background-color: @black;
    }
}

#appMessageWrap {
    position: relative;
}

#appMessage {
    position: absolute;
    z-index: 41;
    top: -88px;
    left: 10px;
    height: 0;
    width: 280px;
    color: @white;
    .transition(top, 0.6s);

    #appMessageText {
        margin-right: 26px;
        margin-top: 26px;
        padding: 10px;
        line-height: 1.2;
        background-color: @errorColor;
    }

    #appMessageCloser {
        width: 32px;
        height: 32px;
        position: absolute;
        right: 0;
        top: 0;
        background: url(../img/close.png) center center no-repeat;
        cursor: pointer;
    }
}

#ajaxLoader {
    background: url(../img/ajax-loader.gif) center center no-repeat;
    width: 32px;
    height: 32px;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    visibility: hidden;

    &.ajaxLoad {
        visibility: visible;
    }
}

.showEditTask {
    display: block;
    width: 32px;
    height: 32px;
    background: url(../img/editTask.png) no-repeat center top;
    position: absolute;
    top: -2px;
    right: 0;
    z-index: 11;

    &:hover {
        .opacity(0.6);
    }
}

.toolElement {
    display: none;
    width: 100px;
    .boxShadow(0 0 20px 1px @black);
    background-color: @greyLight;
    position: absolute;
    z-index: 11;

    li {
        cursor: pointer;
        line-height: 1.3;
        padding: 5px;
        &[data-id="inwork"] {
            color: @errorColor;
        }
        &[data-id="finished"] {
            color: @black;
            background: url(../img/statePointToggle.png) right top no-repeat;
        }
        &[data-id="noneed"] {
            color: @greyDark;
            text-decoration: line-through;
        }

        &:hover {
            background-color: @mcolorLight;
        }
    }
    &.showTool {
        display: block;
    }
}

#pickadateContainer {
    display: none;
    position: absolute;
    z-index: 11;
    &.scene {
        display: block;
        .picker {
            right: auto;
        }
    }
}

.picker {
    width: 250px;
    right: 1px;
}

.projectThumbTools {
    visibility: hidden;
    width: 32px;
    height: 128px;
    position: absolute;
    top: -6px;
    left: -24px;
    .transition(left, 0.2s);
    z-index: 11;
    background-color: rgba(255, 255, 255, 0.4);

    span {
        display: block;
        width: 32px;
        height: 32px;
        &:hover {
            .opacity(0.6);
        }
    }

    .showAddTask {
        background: url(../img/addTask.png) center center no-repeat;
    }

    .showEditProject {
        background: url(../img/editProject.png) center center no-repeat;
    }

    .showTaskHistory {
        background: url(../img/taskHistory.png) center center no-repeat;
        &.showHistory {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    .showDetails {
        background: url(../img/projectDetails.png) center center no-repeat;
        &.detOpened {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    &.arched {
        height: 96px;
        top: -5px;
    }
}

.selectedRow {
    border: 1px solid @selected;
}

#dialogContainer {
    //width: 300px;
    background-color: @greyLightest;
    position: absolute;
    z-index: 41;
    visibility: hidden;
    .boxShadow(0 0 20px 1px @greyDark);
    .opacity(0.2);
    .transition(opacity, 0.6s, ease-out);

    &.scene {
        visibility: visible;
        .opacity(1);
    }

    #dialogTitle {
        padding: 10px;
        background-color: @grey;
        font-size: 14px;
    }

    #dialogContent {
        padding: 10px 20px;
    }

    #dialogMsg {
        color: @errorColor;
        padding: 5px 20px;
        line-height: 1.2;
        min-height: 16px;
    }

    #dialogButtons {
        padding: 10px;
        float: right;
    }

    #dialogCloser {
        width: 32px;
        height: 32px;
        position: absolute;
        right: 0;
        top: 0;
        background: url(../img/close.png) center center no-repeat;
        cursor: pointer;
    }
}

.btn {
    .boxSizing();
    outline: none;
    padding: 5px;
    margin: 5px;
    border: 0 none;
    background-color: @mcolor;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    .transition(background-color, .3s);

    &:hover {
        background-color: @mcolorLight;
    }

    &:active {
        background-color: @mcolorDark;
    }
}

#userData {
    h3 {
        margin-bottom: 10px;
        margin-left: -5px;
        padding-top: 10px;
        border-top: 1px solid @greyDark;
    }
}

#shadowWrapper, #ajaxShadow {
    visibility: hidden;
    .transition(background-color, 0.4s);

    &.fog {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        visibility: visible;
        background-color: @black;
        .opacity(0.25);
        zoom: 1;
        z-index: 31;
    }
}

/////////////////////////////////////

.dropdown, .dropup {
    //    padding-right: 18px;

    & > a:after {
        border: 7px solid transparent;
        border-top-color: inherit;
        content: "";
        position: absolute;
        text-indent: -99999px;
        top: 58%;
        right: 12px;
    }
}

.dropdownMenu {
    width: 100%;
    position: absolute;
    right: 0;
    z-index: 22;
    display: none;

    li > a {
        font-weight: normal;
        padding: 8px;
        line-height: 1.2;
    }
}

.dropdown > .dropdownMenu {
    border-top: 0;
    top: 100%;
}

.dropup > .dropdownMenu {
    border-bottom: 0;
    bottom: 100%;
}

//.dropdown.open {
//  background-color: @mcolor;
//}

.open > .dropdownMenu {
    display: block;
}

///////////////////////////////////

.accordionSection {
    margin-top: 10px;
}

.accordion {
    border-bottom: 1px solid @greyLight;
    padding-top: 10px;

    & > span:hover {
        cursor: pointer;
    }
    &:first-child {
        border-top: 1px solid @greyLight;
    }
}

.accordionToggler {
    background: url(../img/accordion-arrow.png) left bottom no-repeat;
    padding-left: 20px;
}

.accordion.closed .accordionContent {
    height: 0;
    overflow: hidden;
    .opacity(0);
}

.accordionContent {
    margin-top: 8px;
    padding-left: 20px;
    height: auto;
    .transition(opacity, 0.3s);

    li {
        margin-bottom: 8px;
    }
}

.accordion.closed > .accordionToggler {
    background-position: left top;
}
