@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('MYRIADPRO-REGULAR.woff') format('woff'), url('MYRIADPRO-REGULAR.OTF') format('opentype');
}
.userSelect {
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.boxSizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.aws {
  display: inline;
  vertical-align: baseline;
  background-repeat: repeat;
  margin-top: 0;
}
body {
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  width: 1280px;
  margin: 0 auto;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
h3 {
  font-size: 1.36em;
}
h6 {
  font-size: 0.74em;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}
button {
  font-family: 'Myriad Pro Regular', sans-serif;
}
textarea {
  font-family: 'Myriad Pro Regular', sans-serif;
}
.formItem {
  position: relative;
  margin-bottom: 8px;
}
.formItem input {
  border-style: ridge;
  width: 154px;
  margin-top: 3px;
  margin-left: 20px;
  padding-left: 3px;
  padding-top: 3px;
}
.formItem input[type=file] {
  font-size: 11px;
  width: 274px;
  margin-left: 0;
  border: none;
}
.formItem input[type=checkbox] {
  width: auto;
}
.formItem label {
  float: left;
  padding-top: 7px;
  width: 102px;
}
.formItem label[for=projectStateZ] {
  padding-top: 2px;
}
.formItem textarea {
  margin-top: 3px;
}
.formItem select {
  width: 161px;
  margin-top: 3px;
  margin-left: 20px;
  padding-left: 3px;
  padding-top: 3px;
  background-color: inherit;
}
.formItem .projImg,
.formItem .userImg {
  margin-left: 20px;
  background-color: #eeeeee;
}
#formAddProject {
  width: 284px;
}
#formAddTask {
  width: 318px;
}
#formAddTask label {
  width: 136px;
}
form#userData {
  width: 292px;
}
form#userData .formItem:first-of-type {
  height: 30px;
}
form#userData .formItem:first-of-type label {
  padding-top: 0;
}
form#userData label {
  width: 110px;
}
#mainHeader {
  font-size: 16px;
  height: 42px;
  color: #ffffff;
  background-color: #6c6c78;
  position: fixed;
  top: 0;
  max-width: 1280px;
  min-width: 640px;
  width: 100%;
  z-index: 22;
}
#appMenu {
  float: left;
}
#appMenu li {
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
#appMenu li:hover {
  background-color: #000000;
}
#appMenu li:active {
  color: #eeeeee;
}
#appMenu li.selectedMenu {
  background-color: #dcdcdc;
  color: black;
  font-weight: bold;
}
#appMenu > ul > li {
  position: relative;
  display: block;
  float: left;
}
#appMenu > ul > li a {
  padding: 11px 8px;
  height: 20px;
}
#header {
  height: 32px;
  color: #000000;
  background-color: #dcdcdc;
  font-size: 13px;
  position: fixed;
  top: 42px;
  max-width: 1280px;
  min-width: 640px;
  width: 100%;
  border-bottom: 1px solid #b4b4ca;
  z-index: 21;
}
#projectMenu {
  float: left;
}
#projectMenu li {
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
#projectMenu li:hover {
  background-color: #d1d1df;
}
#projectMenu li:active {
  background-color: #7677a0;
}
#projectMenu > ul > li {
  position: relative;
  display: block;
  float: left;
  height: 26px;
  padding: 3px 10px;
}
.searchForm {
  float: left;
  margin-left: 5px;
  margin-top: 2px;
  position: relative;
}
.searchForm .searchIcon {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  right: 10px;
  top: 5px;
  background: url(../img/search.png) no-repeat center center;
  cursor: pointer;
}
.searchForm input[type=search] {
  outline: none;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 100%;
  border-left: 1px solid #6c6c78;
  border-right: none;
  border-top: none;
  border-bottom: none;
  background-color: inherit;
  padding: 7px 28px 7px 10px;
  width: 100px;
  -webkit-transition: background-color 0.6s ease;
  -moz-transition: background-color 0.6s ease;
  -ms-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
.searchForm input[type=search]:focus {
  border-color: #000000;
  background-color: #f5f5f5;
}
.searchForm input:-moz-placeholder {
  color: #6c6c78;
}
.searchForm input::-webkit-input-placeholder {
  color: #6c6c78;
}
#reloadPage {
  background: url(../img/refresh.png) 5px center no-repeat;
  padding-left: 32px !important;
}
#addProject {
  background: url(../img/addProject.png) 5px center no-repeat;
  padding-left: 32px !important;
}
#selectProjects {
  width: 48px;
  padding-right: 20px !important;
}
#selectProjects span[class^=status-] {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin: 6px 3px 0 4px;
}
#selectProjects > ul {
  background-color: #dcdcdc;
  min-width: 84px;
  left: 0;
  right: auto;
  border: 1px solid #6c6c78;
  border-top: none;
}
#selectProjects > a:after {
  top: 23%;
  right: 8px;
}
#appContainer {
  margin-top: 42px;
  position: relative;
}
#main {
  float: left;
  margin-top: 36px;
}
#taskCalendar {
  float: left;
  width: 304px;
  min-height: 500px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  font-size: 12px;
  color: #6c6c78;
  background-color: #eeeeee;
}
#taskList span.taskDate {
  font-size: 14px;
  font-weight: bold;
  color: #1f4f82;
}
#taskList span.taskDate.expired {
  color: #b94a48;
}
#taskList > li {
  padding: 5px;
}
#taskList > li + li {
  margin-top: 8px;
}
#taskList > li.userTaskBlockList {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: inherit;
}
#taskList > li.today {
  border: 1px solid #7677a0;
}
#taskList > li.expired {
  border: 1px solid #b94a48;
}
#taskList > li:hover {
  background-color: #d1d1df;
}
#taskList ul.taskBlockList {
  margin-left: 10px;
  margin-top: 2px;
}
#taskList li.task,
#taskList li.userTask {
  cursor: pointer;
  line-height: 1.3;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  white-space: pre-wrap;
}
#taskList li.task:hover,
#taskList li.userTask:hover {
  color: #000000;
}
#taskList li.task.selectedTask,
#taskList li.userTask.selectedTask {
  color: #1f4f82;
}
#taskList li.task + li.task,
#taskList li.userTask + li.task,
#taskList li.task + li.userTask,
#taskList li.userTask + li.userTask {
  border-top: 1px solid #b4b4ca;
}
#taskList span.projectLink {
  font-weight: bold;
}
#taskList span.projectLinkClient {
  font-weight: bold;
}
#projectList {
  float: left;
  width: 960px;
  min-height: 506px;
  margin-left: 6px;
}
#projectList [id^=state-] {
  float: left;
  width: 310px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 4px;
  padding-top: 2px;
}
.projectThumb {
  float: left;
  padding: 5px;
  margin-bottom: 6px;
  border: 1px solid #dcdcdc;
}
.projectThumb h3 {
  margin-bottom: 3px;
}
.projectThumb:hover {
  border-color: #6c6c78;
}
.projectThumb .thumbContent {
  position: relative;
  float: left;
  width: 300px;
  cursor: pointer;
}
.projectThumb strong.projDateFinish {
  line-height: 1.4;
  margin-left: 6px;
}
.projectThumb strong.projDateFinish.expired {
  color: #b94a48;
}
.projectThumb .taskBlock {
  font-size: 12px;
  margin-top: 10px;
  color: #6c6c78;
}
.projectThumb .taskBlock li {
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 1.3;
  border-top: 1px solid #d1d1df;
  white-space: pre-wrap;
}
.projectThumb .taskBlock li strong:first-of-type {
  color: #1f4f82;
}
.projectThumb .taskBlock li strong:first-of-type.expired {
  color: #b94a48;
}
.projectThumb .taskBlock li.taskFinished {
  display: none;
  color: #b4b4ca;
  margin-left: 12px;
}
.projectThumb .taskBlock li.taskFinished strong:first-of-type {
  color: #b4b4ca;
}
.projectThumb .taskBlock li.taskFinished.scene {
  display: list-item;
}
.projectThumb .taskBlock li.taskFinished:hover {
  color: #7677a0;
}
.projectThumb .taskBlock li.selectedTask {
  color: #1f4f82;
}
.projectThumb .taskBlock li:hover {
  color: #000000;
}
.projectThumb.selected {
  background-color: #ededf4;
}
.projectThumb.selected .projectThumbTools {
  visibility: visible;
  left: -4px;
}
.projectThumb .projectStatus {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 16px;
  height: 16px;
}
.projectThumb .paramBlock {
  margin-top: 3px;
  font-size: 12px;
  min-height: 55px;
}
.projectThumb .paramBlock li {
  line-height: 1.15;
}
.projectThumb .paramBlock li[data-id="4"] {
  white-space: pre-wrap;
}
.projectThumb .paramBlock li span {
  color: #6c6c78;
}
.projectThumb.arched {
  height: 50px;
  overflow-y: hidden;
}
.projectThumb.arched .projImg {
  width: 50px;
  height: 50px;
}
.projectThumb.arched.expanded {
  height: auto;
}
.projectThumb.arched.expanded .projImg {
  width: 120px;
  height: 120px;
}
.status-work {
  background: url(../img/status-work.png) center center no-repeat;
}
.status-query {
  background: url(../img/status-query.png) center center no-repeat;
}
.status-queryWork {
  background: url(../img/status-queryWork.png) center center no-repeat;
}
.status-arch {
  background: url(../img/status-arch.png) center center no-repeat;
}
.projImg {
  display: block;
  float: left;
  width: 120px;
  height: 120px;
  margin-right: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}
.projectDetails {
  float: left;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease;
  -moz-transition: max-height 0.6s ease;
  -ms-transition: max-height 0.6s ease;
  -o-transition: max-height 0.6s ease;
  transition: max-height 0.6s ease;
}
.projectDetails li.statePoint {
  width: 260px;
  background: url(../img/statePointToggle.png) left bottom no-repeat;
  padding-left: 20px;
  cursor: pointer;
  color: #b94a48;
  margin-bottom: 5px;
  position: relative;
}
.projectDetails li.statePoint.finished {
  color: #000000;
  background-position: left top;
}
.projectDetails li.statePoint.noneed {
  color: #6c6c78;
  text-decoration: line-through;
}
.projectDetails li.statePoint:hover {
  color: #7677a0;
}
.projectDetails li.statePoint .statePointDate {
  float: right;
  font-size: 11px;
  border: none;
  background-color: inherit;
  max-width: 60px;
  text-align: right;
  cursor: pointer;
}
.projectDetails li.statePoint .statePointDate:hover {
  color: #7677a0;
}
.projectDetails .stateGroup > span {
  font-weight: bold;
}
.projectDetails .stateGroupBlock {
  padding: 5px;
  margin-top: 15px;
  font-size: 13px;
  border-top: 1px solid #d1d1df;
}
.projectDetails .statePointBlock {
  padding: 5px 0 5px 5px;
}
.projectDetails.detOpened {
  max-height: 600px;
}
#user {
  float: right;
  height: 42px;
  position: relative;
  cursor: default;
}
.userImg {
  display: inline-block;
  vertical-align: top;
  width: 36px;
  height: 36px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#userName {
  margin-left: 10px;
  padding: 0 10px;
  cursor: pointer;
}
#userName > a {
  display: inline-block;
  font-size: 16px;
  margin: 8px 0 0 5px;
}
#userName > a:after {
  top: 60%;
  right: 10px;
}
#userName > ul {
  width: 130px;
  background-color: #6c6c78;
}
#userName > ul > li:hover {
  background-color: #000000;
}
#userName > ul > li:last-of-type {
  border-top: 1px solid;
}
#userName:hover {
  background-color: #000000;
}
#appMessageWrap {
  position: relative;
}
#appMessage {
  position: absolute;
  z-index: 41;
  top: -88px;
  left: 10px;
  height: 0;
  width: 280px;
  color: #ffffff;
  -webkit-transition: top 0.6s ease;
  -moz-transition: top 0.6s ease;
  -ms-transition: top 0.6s ease;
  -o-transition: top 0.6s ease;
  transition: top 0.6s ease;
}
#appMessage #appMessageText {
  margin-right: 26px;
  margin-top: 26px;
  padding: 10px;
  line-height: 1.2;
  background-color: #b94a48;
}
#appMessage #appMessageCloser {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../img/close.png) center center no-repeat;
  cursor: pointer;
}
#ajaxLoader {
  background: url(../img/ajax-loader.gif) center center no-repeat;
  width: 32px;
  height: 32px;
  float: left;
  margin-top: 5px;
  margin-left: 20px;
  visibility: hidden;
}
#ajaxLoader.ajaxLoad {
  visibility: visible;
}
.showEditTask {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/editTask.png) no-repeat center top;
  position: absolute;
  top: -2px;
  right: 0;
  z-index: 11;
}
.showEditTask:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  zoom: 1;
}
.toolElement {
  display: none;
  width: 100px;
  -webkit-box-shadow: 0 0 20px 1px #000000;
  -moz-box-shadow: 0 0 20px 1px #000000;
  box-shadow: 0 0 20px 1px #000000;
  background-color: #eeeeee;
  position: absolute;
  z-index: 11;
}
.toolElement li {
  cursor: pointer;
  line-height: 1.3;
  padding: 5px;
}
.toolElement li[data-id="inwork"] {
  color: #b94a48;
}
.toolElement li[data-id="finished"] {
  color: #000000;
  background: url(../img/statePointToggle.png) right top no-repeat;
}
.toolElement li[data-id="noneed"] {
  color: #6c6c78;
  text-decoration: line-through;
}
.toolElement li:hover {
  background-color: #d1d1df;
}
.toolElement.showTool {
  display: block;
}
#pickadateContainer {
  display: none;
  position: absolute;
  z-index: 11;
}
#pickadateContainer.scene {
  display: block;
}
#pickadateContainer.scene .picker {
  right: auto;
}
.picker {
  width: 250px;
  right: 1px;
}
.projectThumbTools {
  visibility: hidden;
  width: 32px;
  height: 128px;
  position: absolute;
  top: -6px;
  left: -24px;
  -webkit-transition: left 0.2s ease;
  -moz-transition: left 0.2s ease;
  -ms-transition: left 0.2s ease;
  -o-transition: left 0.2s ease;
  transition: left 0.2s ease;
  z-index: 11;
  background-color: rgba(255, 255, 255, 0.4);
}
.projectThumbTools span {
  display: block;
  width: 32px;
  height: 32px;
}
.projectThumbTools span:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  zoom: 1;
}
.projectThumbTools .showAddTask {
  background: url(../img/addTask.png) center center no-repeat;
}
.projectThumbTools .showEditProject {
  background: url(../img/editProject.png) center center no-repeat;
}
.projectThumbTools .showTaskHistory {
  background: url(../img/taskHistory.png) center center no-repeat;
}
.projectThumbTools .showTaskHistory.showHistory {
  background-color: rgba(0, 0, 0, 0.3);
}
.projectThumbTools .showDetails {
  background: url(../img/projectDetails.png) center center no-repeat;
}
.projectThumbTools .showDetails.detOpened {
  background-color: rgba(0, 0, 0, 0.3);
}
.projectThumbTools.arched {
  height: 96px;
  top: -5px;
}
.selectedRow {
  border: 1px solid #1f4f82;
}
#dialogContainer {
  background-color: #f5f5f5;
  position: absolute;
  z-index: 41;
  visibility: hidden;
  -webkit-box-shadow: 0 0 20px 1px #6c6c78;
  -moz-box-shadow: 0 0 20px 1px #6c6c78;
  box-shadow: 0 0 20px 1px #6c6c78;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2;
  zoom: 1;
  -webkit-transition: opacity 0.6s ease-out;
  -moz-transition: opacity 0.6s ease-out;
  -ms-transition: opacity 0.6s ease-out;
  -o-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
#dialogContainer.scene {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  zoom: 1;
}
#dialogContainer #dialogTitle {
  padding: 10px;
  background-color: #dcdcdc;
  font-size: 14px;
}
#dialogContainer #dialogContent {
  padding: 10px 20px;
}
#dialogContainer #dialogMsg {
  color: #b94a48;
  padding: 5px 20px;
  line-height: 1.2;
  min-height: 16px;
}
#dialogContainer #dialogButtons {
  padding: 10px;
  float: right;
}
#dialogContainer #dialogCloser {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../img/close.png) center center no-repeat;
  cursor: pointer;
}
.btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  padding: 5px;
  margin: 5px;
  border: 0 none;
  background-color: #b4b4ca;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #d1d1df;
}
.btn:active {
  background-color: #7677a0;
}
#userData h3 {
  margin-bottom: 10px;
  margin-left: -5px;
  padding-top: 10px;
  border-top: 1px solid #6c6c78;
}
#shadowWrapper,
#ajaxShadow {
  visibility: hidden;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
#shadowWrapper.fog,
#ajaxShadow.fog {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: visible;
  background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  -moz-opacity: 0.25;
  -khtml-opacity: 0.25;
  opacity: 0.25;
  zoom: 1;
  z-index: 31;
}
.dropdown > a:after,
.dropup > a:after {
  border: 7px solid transparent;
  border-top-color: inherit;
  content: "";
  position: absolute;
  text-indent: -99999px;
  top: 58%;
  right: 12px;
}
.dropdownMenu {
  width: 100%;
  position: absolute;
  right: 0;
  z-index: 22;
  display: none;
}
.dropdownMenu li > a {
  font-weight: normal;
  padding: 8px;
  line-height: 1.2;
}
.dropdown > .dropdownMenu {
  border-top: 0;
  top: 100%;
}
.dropup > .dropdownMenu {
  border-bottom: 0;
  bottom: 100%;
}
.open > .dropdownMenu {
  display: block;
}
.accordionSection {
  margin-top: 10px;
}
.accordion {
  border-bottom: 1px solid #eeeeee;
  padding-top: 10px;
}
.accordion > span:hover {
  cursor: pointer;
}
.accordion:first-child {
  border-top: 1px solid #eeeeee;
}
.accordionToggler {
  background: url(../img/accordion-arrow.png) left bottom no-repeat;
  padding-left: 20px;
}
.accordion.closed .accordionContent {
  height: 0;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  zoom: 1;
}
.accordionContent {
  margin-top: 8px;
  padding-left: 20px;
  height: auto;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.accordionContent li {
  margin-bottom: 8px;
}
.accordion.closed > .accordionToggler {
  background-position: left top;
}
